.Page03 {
    width: 100%;
    display: flex;
    justify-content: right !important;
    margin-top: 60px;

    .main_body {
        width: 80%;
        height: auto;

        .privacy {
            height: auto !important;


            .first_grid {


                h1 {
                    left: 22.29%;
                    right: 61.72%;
                    top: 30.09%;
                    bottom: 65.56%;
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 47px;
                }

                p {
                    left: 22.29%;
                    right: 48.65%;
                    top: 35.37%;
                    bottom: 60.28%;

                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 47px;
                }
            }

            //second grid
            .second-grid {

                background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
                box-shadow: rgba(50, 50, 93, 0.119) 0px 0px 10px 0px, rgba(50, 50, 93, 0.142) 0px 0px 10px 0px;
                border-radius: 24px;
                padding: 0.5rem;
                position: relative;

                img {
                    margin-left: 20px !important;
                    width: 150px;
                    height: 100px;
                }

                p {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 32px;
                    color: #000000;
                }

                .Manage-btn {
                    display: grid;
                    text-align: center;
                    align-items: center;
                    background-color: #FFFFFF;
                    width: 221px;
                    height: 40px;
                    margin: 0 auto;
                    border-radius: 15px;
                    border: 1.5px solid black;
                    margin-top: 20px;
                    padding: 6px 10px !important;
                }
            }

        }

        // ----------All Card Box-------

        .All_Card_Box {

            .card {
                background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
                border-radius: 24px;
                width: 100%;
                height: 320px;
                box-shadow: rgba(0, 0, 0, 0.251) 0px 5px 15px;

                // height: auto;
                img {
                    width: 30%;

                }

                h2 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                }

                .card_Manage_btn {
                    width: 161px !important;
                    background-color: #ffff;
                    border-radius: 15px;
                    border: 2px solid #100f0f64;
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 700;
                    padding: 6px 10px !important;
                }

            }

            .download_Delete_Box {

                .card {
                    background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
                    box-shadow: rgba(0, 0, 0, 0.251) 0px 5px 15px;
                    border-radius: 24px;
                    width: 100%;
                    height: 160px;
                }

                img {
                    width: 40px;
                }


                h2 {
                    font-family: 'Segoe UI';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 43px;
                    padding-top: 3px;
                }
            }

        }
    }

    @media screen and (max-width : 760px) and (min-width : 200px) {

        .main_body {
            width: 100% !important;
            height: auto;
        }

    }

    @media screen and (max-width :1100px) and (min-width : 720px) {
        .Manage-btn {
            width: 130px !important;

        }

        .second-grid {
            padding-bottom: 20px !important;
        }
    }

    @media screen and (max-width : 750px) and (min-width : 400px) {

        .product_image {
            width: 15% !important;
        }
    }
}