.Page01 {
    width: 100%;

    display: flex;
    justify-content: right !important;
    margin-top: 60px;

    .main_body {
        width: 80%;
        height: auto;

        // ----welcome box----

        .welcome_box {
            width: 100%;
            height: 65vh;
            background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
            border-radius: 25px;
        }


        .card_Manage_btn {
            width: 161px !important;
            margin: 0 auto;
            background-color: #070707;
            border-radius: 15px;
            border: 2px solid #100f0f64;
            color: #fff;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 700;
            padding: 6px 10px !important;
        }

        // secand grid
        .secand_grid {
            height: auto;

            .payment_box {
                width: 100%;
                height: 32vh;
                background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
                border-radius: 25px;
            }

            //security box and privacy box

            .security_box {
                width: 100%;
                height: auto;
                background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
                border-radius: 25px;
            }

            .privacy_box {
                width: 100%;
                height: auto;
                background: linear-gradient(95.63deg, #D2ECFF -5.06%, #D6ECFF 4.32%, #F5E8FF 94.94%);
                border-radius: 25px;
            }

        }

        // quick access

        .card {
            width: 100%;
            height: auto;

            .card_bg {
                width: 50px;
                background: #000000;
                justify-content: center;
                align-items: center;
                border-radius: 20%;

                // .card_image_sizing {
                //     width: 100%;
                //     height: 60%;
                // }
            }
        }
    }

    @media screen and (max-width : 1090px) and (min-width : 600px) {
        .payment_box {
            width: 100%;
            height: 40vh !important;

            h1 {
                font-size: 18px !important;
            }

            p {
                font-size: 14px !important;
            }



        }

        .security_box,
        .privacy_box {

            h1 {
                font-size: 16px !important;
            }

            p {
                font-size: 12px !important;
            }

            .card_Manage_btn {
                width: 121px !important;
                font-size: 14px !important;
            }

        }
    }

    @media screen and (max-width : 760px) and (min-width : 200px) {

        .main_body {
            width: 100% !important;
            height: auto;
        }

        .payment_box {
            width: 100%;
            height: auto !important;
        }

    }

    @media screen and (max-width : 750px) and (min-width : 400px) {

        .security_image_inside {
            width: 28% !important;
        }
    }
}